@import './mixins';
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  max-width: 100%;
  font-family: Roboto;
  header{
    max-width: 100%;
    padding: 21px calc(5%);
    #navbar-responsive.open {
      left: 0;
    }
    
    .menu-btn {
      border: 0;
      background: transparent;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 4px;
      display: none;
    }
    
    .menu-btn span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #333;
    }
    .nav{
      @include bolish;
      max-width: 100%;
      &-links{
        display: flex;
        align-items: center;
        gap: 32px;
        a{
          color: #65665C;
          @include oddiybolish($gp: 4px);
          @include yozuvlar-uchun($fsiz: 16px, $ln-hgt: 24px);
        }
        button{
          @include btn-uchun;
          @include yozuvlar-uchun($fsiz: 16px);
        }
        .shad{
          flex-shrink: 0;
          gap: 8px;
          border: 1px solid #E7E8E3;
          background: #FFF;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
        }
        .prop{
          color: #FFF;
          border: 1px solid #CF6F49;
          background: #CF6F49;
        }
      }
    }
  }
  main{
    width: 100%;
    margin-top: 92px;
    .hero-section{
      width: 100%;
      background: #F5F5F2;
      .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .place{
          
          svg{
            fill: #E7E8E3;
          }
          .pbk{
            text-align: center;
            margin-left: 6%;
            margin-top: 13px;
            width: 171px;
            height: 29px;
            flex-shrink: 0;
            border-radius: 32px;
            background: #E7E8E3;
            p{
              padding-top: 4px;
              @include yozuvlar-uchun(14px, normal, 400, 21px);
            }
          }
          h2{
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 6%;
            max-width: 516px;
            @include hbirlar;
          }
          p{
            padding-bottom: 95px;
            @include yozuvlar-uchun;
            padding-left: 6%;
            max-width: 504px;
          }
          .ohirgisvg{
            position: absolute;
            right: 50%;
          }
        }
        .hero-image{
          background-image: url(../images/hero-rasm.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 50%;
          height: 686px;
        }
      }
    }
    .howwork{
      padding: 67px calc(5%) 128px;
      .container{
        .worklogo{
          @include bolish;
          h5{
            color: #2A2C1F;
            @include yozuvlar-uchun(18px, normal, 400, 27px);
          }
          .logos{
            @include oddiybolish;
            gap: 32px;
            svg{
              fill: #737680;
            }
          }
        }
        .tanishtirish{
          @include bolish($jst-cnt: center);
          flex-direction: column;
          h2{
            padding-top: 122px;
            @include hbirlar($fs: 48px, $fst: normal, $fwg: 700, $fln: 57.6px);
            color: #2A2C1F;
            text-align: center;
          }
          p{
            text-align: center;
            @include yozuvlar-uchun($fsiz: 18px, $f-stl: normal, $f-wgt: 400, $ln-hgt: 27px);
            padding-top: 21px;
            max-width: 754px;
          }
        }
        .cards{
          padding-top: 61px;
          @include bolish;
          .card{
            padding-left: 32px;
            padding-right: 32px;
            padding-top: 49px;
            width: 405px;
            height: 291px;
            flex-shrink: 0;
            border-radius: 16px;
            border: 1px solid #E7E8E3;
            background: #FFF;
            transition: 0.4s;
            &:hover{
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
            }
            @include oddiybolish;
            flex-direction: column;
            h4{
              padding-top: 20px;
              color: #2A2C1F;
              @include yozuvlar-uchun(24px, normal, 700, 33.6px);
            }
            p{
              text-align: center;
              padding-top: 10px;
              color: #65665C;
              @include yozuvlar-uchun($fsiz: 16px, $f-stl: normal,$f-wgt: 400, $ln-hgt: 24px);
            }
          }
        }
      }
    }
    .bsthouse-section{
      padding-bottom: 128px;
      .container{
        padding: 0 5%; 
        @include bolish;
        .yozuv{
          .pbk{
            text-align: center;
            width: 107px;
            height: 29px;
            flex-shrink: 0;
            border-radius: 32px;
            background: #E7E8E3;
            p{
              color: #2A2C1F;
              padding-top: 4px;
              @include yozuvlar-uchun(14px, normal, 400, 21px);
            }
          }
          h2{
            color: #2A2C1F;
            padding-top: 20px;
            max-width: 453px;
            @include hbirlar(48px, normal, 700, 57.6px)
          }
          p{
            padding-bottom: 21px;
            padding-top: 28px;
            max-width: 520px;
            color: #65665C;
            @include yozuvlar-uchun(18px, normal, 400, 27px)
          }
          .btns{
            @include oddiybolish($gp: 24px);
            button{
              @include yozuvlar-uchun(16px, normal, 400, 24px);
              color: #2A2C1F;
              width: 192px;
              height: 50px;
              flex-shrink: 0;
              border-radius: 6px;
              border: 1px solid #E7E8E3;
              background: #FFF;
              transition: 0.4s;
              &:hover{
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
              }
            }
            a{
              @include yozuvlar-uchun(16px, normal, 400, 24px);
              color: #2A2C1F;
            }
          }
        }
        .rasm{
          background-image: url(../images/bsthouse-section.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 16px;
          width: 43%;
          height: 600px;
        }
      }
    }
    .quick-easy {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
      align-items: center;
      padding-bottom: 128px;
      padding-left: 5%;
      padding-right: 5%;
      &-right {
        display: grid;
        &-p1 {
          max-width: 127px;
          padding: 8px 12px;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          color: #2a2c1f;
          border-radius: 32px;
          background: #e7e8e3;
        }
        &-h3 {
          padding: 25px 115px 29px 0px;
          font-family: Roboto;
          font-size: 48px;
          font-weight: 700;
          line-height: 57.6px;
          color: #2a2c1f;
        }
        &-p2 {
          padding: 0px 0px 28px 0px;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          color: #65665c;
        }
        &-cards {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 24px;
          padding-bottom: 24px;
          &-item {
            &-icon {
              padding: 8px;
              color: #cf6f49;
              font-family: "Material Icons";
              font-size: 32px;
              font-weight: 400;
              line-height: 48px;
              border-radius: 8px;
              background: #fae8e1;
            }
            &-h4 {
              padding: 16px 0px 18px 0px;
              font-family: Roboto;
              font-size: 20px;
              font-weight: 700;
              color: #2a2c1f;
              line-height: 28px;
            }
            &-p1 {
              font-family: Roboto;
              font-size: 16px;
              font-weight: 400;
              color: #65665c;
              line-height: 24px;
            }
            &-p2 {
              padding-bottom: 21px;
              font-family: Roboto;
              font-size: 16px;
              font-weight: 400;
              color: #65665c;
              line-height: 24px;
            }
          }
        }
        &-explore {
          display: flex;
          gap: 24px;
          align-items: center;
          &-btn {
            padding: 13px 25px;
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #2a2c1f;
            border-radius: 6px;
            border: 1px solid #e7e8e3;
            background: #fff;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          }
          &-link {
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #2a2c1f;
          }
        }
      }
      &-left {
        img {
          border-radius: 16px;
          width: 100%;
          height: 600px;
          object-fit: cover;
          object-position: bottom;
        }
      }
    }
    .properties {
      background-color: #f5f5f2;
    }
    .properties-body {
      &-text {
        padding-top: 198px;
        padding-bottom: 80px;
        align-items: center;
        &-p {
          max-width: 92px;
          padding: 5px 0px;
          margin-bottom: 21px;
          text-align: center;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          color: #2a2c1f;
          border-radius: 32px;
          background: #e7e8e3;
        }
        &-h3 {
          text-align: center;
          font-family: Roboto;
          font-size: 48px;
          font-weight: 700;
          line-height: 57.6px;
          color: #2a2c1f;
        }
      }
      &-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        padding-bottom: 80px;
        &-item {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          max-width: 406.5px;
          border-radius: 0px 0px 16px 16px;
          border: 1px solid #e7e8e3;
          background: #fff;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          &-text {
            margin-top: -5px;
            padding: 24px;
            background-color: #fff;
            border-radius: 0px 0px 16px 16px;
            border: 1px solid #e7e8e3;
            background: #fff;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
            &-h4 {
              font-family: Roboto;
              font-size: 24px;
              font-weight: 700;
              line-height: 33.6px;
              color: #2a2c1f;
            }
            &-h6 {
              font-family: Roboto;
              font-size: 18px;
              font-weight: 700;
              color: #2a2c1f;
              line-height: 27px;
            }
            &-location {
              display: flex;
              align-items: center;
              gap: 5px;
              padding: 16px 0px;
              p {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                color: #65665c;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
    .properties-explore {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      gap: 24px;
      align-items: center;
      padding-bottom: 10px;
      &-btn {
        padding: 13px 25px;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #2a2c1f;
        border-radius: 6px;
        border: 1px solid #e7e8e3;
        background: #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
      }
      &-link {
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #2a2c1f;
      }
    }
    .contact {
      background-color: #f5f5f2;
    }
    .contact--body {
      &-text {
        text-align: center;
        h4 {
          text-align: center;
          font-family: Roboto;
          font-size: 48px;
          font-weight: 700;
          line-height: 57.6px;
          color: #2a2c1f;
        }
        p {
          padding: 25px;
          text-align: center;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 400;
          line-height: 27px;
          color: #65665c;
        }
      }
      &-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        padding: 80px 0px;
        &-item {
          padding-left: 33px;
          padding-bottom: 33px;
          border-radius: 16px;
          border: 1px solid #e7e8e3;
          background: #fff;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          h5 {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            color: #2a2c1f;
            padding: 33px 0px 12px 0px;
          }
          a {
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            color: #2a2c1f;
            line-height: 24px;
          }
        }
      }
    }
    .contact-explore {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      gap: 24px;
      align-items: center;
      padding-bottom: -700px;
      &-btn {
        padding: 13px 25px;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #2a2c1f;
        border-radius: 6px;
        border: 1px solid #e7e8e3;
        background: #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
      }
      &-link {
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #2a2c1f;
      }
    }
    .families {
      width: 100%;
      max-width: 1280px;
      height: 465px;
      flex-shrink: 0;
      margin: 80px;
      position: relative;
      top: 200px;
      text-align: center;
      border-radius: 24px;
      background: #65665c;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -180px;
      img {
        margin: 96px 0px 13px 0px;
        padding: 10px;
        color: #65665c;
        text-align: center;
        font-family: "Material Icons";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        border-radius: 8px;
        background: #fff;
        line-height: 48px;
      }
      h4 {
        padding-bottom: 26px;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 57.6px;
      }
      p {
        width: 100%;
        max-width: 765px;
        color: #e7e8e3;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        margin: auto;
      }
      button {
        margin: 21px 0px 96px 0px;
        padding: 13px 25px;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        border-radius: 6px;
        border: 1px solid #cf6f49;
        background: #cf6f49;
      }
    }  
  }
}
@media (max-width: 950) {
  body{
    max-width: 950px;
  }
  header {
    max-width: 950px !important;
    padding-left: calc(4%);
    padding-right: calc(4%);
  }

  #navbar-responsive.open {
    max-width: 950px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #navbar-responsive {
    position: fixed;
    top: 90px;
    bottom: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    transition: 0.5s;
  }

  .menu-btn {
    display: flex !important;
  }
}